.NavBar > nav{
    width: 100%;
    margin: 0;
    top: 0;
    background-color: #171f2d !important;
    color: #ccc;
}

.NavBar-fixed {
    position: fixed !important;
    z-index: 1;
}

.NavBar-brand {
    font-family: "Tattegrain";
    font-size: 2.15em;
    color: #a9afb9;
}

.NavBar-brand:hover {
    color: #ec9d00;
}

.NavBar-link {
    font-family: monospace;
    font-size: 1.2em;
}

.NavBar-dropdown {
    padding: 0;
    min-width: 0;
}

.NavBar-dropdown-btn {
    padding: 0;
}

