.NavBar > nav{
  width: 100%;
  margin: 0;
  top: 0;
  background: #212121;
  color: #ccc;
}

.NavBar-fixed {
    position: fixed !important;
    z-index: 1;
}

.NavBar-brand {
    font-family: "Tattegrain";
    font-size: 2.15em;
    color: #b0bdc7 !important;
}

@font-face {
  font-family: 'Tattegrain';
  src: local('Tattegrain'), url(../font/Tattegrain3.woff) format('woff');
}
