.Release {
}

.Release-cover {
    max-width: 666px;
    display: block;
    margin: auto;
}

.Release-title {
    text-align: center;
}

.Release-player {
    border: 0;
    width: 100%;
    height: 42px;
}

.Release-left {
    text-align: right;
}

.Release-right {
    text-align: left;
}

.Release > p {
    font-family: quote;
    font-size: 15px;
    letter-spacing: .5px;
}
